.counterbox {
    width: 450px;
    font-size: 80px;
    background: black;
    color: white;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
}